<!DOCTYPE html>
<html lang="pt-br">
 <%- include('partials/head.ejs') %> 
<body>
    <h1><%= title %></h1>

    <%- include('partials/nav.ejs') %> 
    <% if (typeof message !== 'undefined') { %>
     <%= message %>
    <% } %>

    <form action="/edit/<%= users._id %>" method="POST">
        <div>
            <label>Nome</label>
            <input type="text" name="name" placeholder="Digite seu nome" value="<%= users.name %> ">
        </div>
        <div>
            <label>idade</label>
            <input type="text" name="age" placeholder="Digite sua idade"  value="<%= users.age %> ">
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email" placeholder="Digite seu email"  value="<%= users.email %> ">
        </div>
        
        <button type="submit">Editar</button>
    </form>

    <%- include('partials/foot.ejs') %> 

</body>
</html>